fastapi[standard]
sqlalchemy
alembic
psycopg[binary]
python-dotenv
pydantic-settings
pgvector
sentence-transformers
uvicorn
pydantic
psycopg2-binary
openai
rank-bm25
nltk
kagglehub
lxml
requests
beautifulsoup4